@font-face {
  font-family: 'Montserrat';
  src: url("font/Montserrat-Regular.ttf");
  font-weight: normal;
}
body{
  margin-left: 5%;
  margin-top: 3%;
  font-family: 'Montserrat';
}
button{
  font-family: 'Montserrat';
  background-color: #1f3bba;
  border: 1px solid #1f3bba;
  color: #fff;
  padding: 1% 1% 1% 1%;
  border-radius: 10px;
}
button:hover{
  
}
#judul{
  text-align: center;
}
@import "reset.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.horizontal {
  display: block;
  width: 100%;
  height: 400px;
  overflow: auto;
}
div.horizontal .table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
div.horizontal .table article {
  width: 400px;
  height: 400px;
  display: table-cell;
  background: #e3e3e3;
  vertical-align: middle;
  text-align: center;
}
div.horizontal .table article:nth-child(2n+2) {
  background: #d1d1d1;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 36px;
  line-height: 48px;
}
header#pageheader {
  line-height: 96px;
  padding-left: 24px;
}
.horizontal-track2 {
  width: 100%;
  height: 17px;
  background: #b4b4b4;
}
.horizontal-handle2 {
  height: 17px;
  background: #555;
}
.horizontal-handle2 .left {
  display: none;
}
.horizontal-handle2 .right {
  display: none;
}

table {
  table-layout: fixed; 
  width: 100%;
  height: 50%;
  *margin-left: -100px; /*ie7*/
}
td, th {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100px;
}
.fix {
  position: absolute;
  *position: relative; /*ie7*/
  margin-left: -100px;
  width: 100px;
}
.outer {
  position: relative;
}
.inner {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%; 
  height: 500px;
  margin-left: 0px;
}
